{% extends 'base_profesores.html' %}

{% block title %}Historial de Asistencia — AcademiQ{% endblock %}
{% block topbar_titulo %}Historial Alumno{% endblock %}
{% block menu_titulo %}Historial de Clases{% endblock %}

{% block active_asistencia %}active{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header"><span class="card-title">Asistencias Registradas</span></div>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Padron</th>
            <th>fecha</th>
            <th>asistio</th>
            <th>justificado</th>
          </tr>
        </thead>
        <tbody>
          {% for registro in asistencias %}
            <tr>
              <td> {{ registro.Usuarios_padron }} </td>
              <td> {{ registro.fecha }} </td>
              {% if registro.asistio == 1 %}
                <td> si </td>
              {% else %}
                <td> no </td>
              {% endif %}

              {% if registro.asistio == 1 %}
                <td> </td>
              {% else %}
                {% if registro.justificado == 1 %}
                  <td> si </td>
                {% else %}
                  <td> no </td>
                {% endif %}
              {% endif %}
            </tr>
          {% else %}
            <tr>
              <td colspan="4" style="text-align: center; color: #aaa; padding: 20px;">
                  Sin asistencias registradas 
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}