<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    {% block extra_css %}{% endblock %}
    <title>{% block title %} Portal AcademiQ {% endblock %}</title>
</head>
<body>

<header class="public-topbar">
    <div class="public-topbar-logo">
      <span>🎓</span> AcademiQ
    </div>
    <nav class="public-topbar-nav">

      <a href="{{ url_for('alumno.inicio') }}" class="{% block active_inicio %}{% endblock %}">Inicio</a>
      <a href="{{ url_for('alumno.alumno_ver_nota') }}" class="{% block active_notas %}{% endblock %}">Mis Notas</a>
      <a href="{{ url_for('equipos.alumno_equipos') }}" class="{% block active_grupos %}{% endblock %}">Mi Grupo</a>
      <a href="{{ url_for('asistencia.registrar_asistencia') }}" class="{% block active_asistencia %}{% endblock %}">Asistencia</a>
      <a href="{{ url_for('auth.login') }}" id="boton_rol">Soy Docente</a>
    </nav>
</header>
    

<div class="public-shell">
  {% block content %}{% endblock %}
</div>


<footer>
    <p id="footer">
    ¿Sos docente? <a href="{{ url_for('auth.login') }}" id="a_footer">Accedé al panel de administración →</a>
    ¿Todavía no te registraste? <a href="{{ url_for('auth.registro') }}" class="a_registro">Accedé al panel de Registro →</a>
    </p>
</footer>

{% block extra_js %}{% endblock %}
</body>
</html>