<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Acceso Docente — AcademiQ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_login.css') }}" />
</head>


<body>

<div class="login-right">
  <div class="login-card">
    <h2>Ingresá al panel</h2>

    <div class="form-group">
      <label class="form-label">Padrón</label>
      <input class="form-input" id="padron" type="number" placeholder="Ingresá tu número de padrón institucional" />
    </div>

    <button class="btn btn-primary btn-lg" id="btn-login">
      Ingresar al panel →
    </button>

  </div>
</div>
</body>